<h1 class="admin_title">管理画面</h1>
  <section class="admin_index">
    <div class="admin_menu">
      <%= link_to admin_users_path do %>
        <div class="admin_rooms admins">
          <h3>アクティビティ管理画面</h3>
        </div>
      <% end %>
      <%= link_to admin_users_path do %>
        <div class="admin_reservations admins">
          <h3>予約管理画面</h3>
        </div>
      <% end %>
      <%= link_to admin_users_path do %>
        <div class="admin_users admins">
          <h3>ユーザー管理画面</h3>
        </div>
      <% end %>
    </div>
</section>
