<section class="top_slide">
  <div class="slideshow">
    <img class="top_image" src="/assets/DSC_0261_1.JPG" alt="">
  </div>
</section>
<section class="news">
  <div class="news_body">
    <h2>お知らせ</h2>
    <ul class="news_list">
      <li>お知らせだよ</li>
      <li>コロナで大変 ><;</li>
      <li>下川ではまだ感染者いないよ！</li>
    </ul>
  </div>
</section>
<section class="tour">
  <div class="tour_body">
    <div class="shimokawa_title">
      <p>下川町の魅力を伝えるツアー</p>
        <h2>Saike</h2>
    </div>
    <article class="shimokawa_info">
      <div class="shimokawa_photo">
        <img src="/assets/059A8396.JPG" alt="">
      </div>
      <div class="shimokawa_discribe">
        <p>
          日本有数の長流河川、天塩川水系の最上流域にある名寄川。<br>
          この川の一番わかりやすい魅力を言えば「日本で最も長い旅をするヤマメが住む町」でしょう。<br>
          その距離は250kmを越え、私たちが生まれるずっと前から様々なリスクを乗り越え何千年と奇跡を繰り返しています。<br>
          その魚たちが紡いできた「歴史」に想いを馳せ、この令和になっても私たちにその奥行きを教えてくれる。ぜひ下川へ来てその町の流域を歩いて、泳いでみてください。<br>
          言葉にすることができなほどの理由をご案内します。

          <!-- 証明はいつまでたってもできないだろう<br>
          でもこの場所を歩くたびに思う <br>
          空気の流れ、人の流れ、時間の流れ <br>
          それらは、それらにとっての「瞬間」が <br>
          刹那か悠久か <br>
          その違いしかなく、それを度外視すればすべて <br>
          水の流れに等しい <br>
          ぶつかれば引き返し廻ってまた流れる <br> -->
        </p>
      </div>
    </article>
  </div>
</section>
<section class="activity_info">
  <ul class="activity_imgs slider">
    <li><img src="/assets/DSC_2251.JPG" alt="" class="activity_img"><p class="slideTitle">リバーウォーク</p></li>
    <li><img src="/assets/Screenshot_20200722-141726 (1).png" alt="" class="activity_img"><p class="slideTitle">フローイング</p></li>
    <li><img src="/assets/KIMG3738.JPG" alt="" class="activity_img"><p class="slideTitle">渓流釣りガイド</p></li>
    <li><img src="/assets/スノーシューイング.jpg" alt="" class="activity_img"><p class="slideTitle">スノーシューイング</p></li>
  </ul>
</section>
<section class="aboutus">
  <article class="aboutusInfo">
    <h2>ABOUT US</h2>
    <ul>
      <li class="profileName"><h3>園部 峻久</h3></li>
      <li><p>1991年8月1日 茨城県土浦市出身</p></li>
      <li></li>
    </ul>
  </article>
  <aside class="profileImage">
    <img src="/assets/DSC_0548 (1).jpg" alt="">
  </aside>
</section>
