<section class="top_slide">
  <div class="slideshow">
    <img class="top_image" src="/assets/DSC_0261_1.JPG" alt="">
  </div>
</section>
<section class="news">
  <div class="news_body">
    <h2>お知らせ</h2>
    <ul class="news_list">
      <% @newses.first(3).each do |news| %>
      <li><%= link_to news.title, news_path(news) %></li>
      <% end %>
    </ul>
  </div>
</section>
<section class="tour">
  <div class="tour_body">
    <div class="shimokawa_title">
      <p>下川町の魅力を伝えるツアー</p>
        <h2>Saike</h2>
    </div>
    <article class="shimokawa_info">
      <div class="shimokawa_photo">
        <img src="/assets/059A8396.JPG" alt="">
      </div>
      <div class="shimokawa_discribe">
        <p>
          日本有数の長流河川、天塩川水系の最上流域にある名寄川。<br>
          この川の一番わかりやすい魅力を言えば「日本で最も長い旅をするヤマメが住む町」でしょう。<br>
          その距離は250kmを越え、私たちが生まれるずっと前から様々なリスクを乗り越え何千年と奇跡を繰り返しています。<br>
          その魚たちが紡いできた「歴史」に想いを馳せ、この令和になっても私たちにその奥行きを教えてくれる。ぜひ下川へ来てその町の流域を歩いて、泳いでみてください。<br>
          言葉にすることができなほどの理由をご案内します。

          <!-- 証明はいつまでたってもできないだろう<br>
          でもこの場所を歩くたびに思う <br>
          空気の流れ、人の流れ、時間の流れ <br>
          それらは、それらにとっての「瞬間」が <br>
          刹那か悠久か <br>
          その違いしかなく、それを度外視すればすべて <br>
          水の流れに等しい <br>
          ぶつかれば引き返し廻ってまた流れる <br> -->
        </p>
      </div>
    </article>
  </div>
</section>
<section class="activity_info">
  <ul class="activityImgs slider">
    <% @activities.each do |act| %>
      <%= link_to activities_path do %>
        <li><%= attachment_image_tag act, :image, class: "activity_img" %><p class="slideTitle"><%= act.title %></p></li>
      <% end %>
    <% end %>
  </ul>
</section>
<section class="aboutus">
  <article class="aboutusInfo">
    <h2>ABOUT US</h2>
    <ul>
      <li class="profileName"><h3>園部 峻久</h3></li>
      <li class="profileBorn"><p>1991年8月1日 茨城県土浦市出身</p></li>
      <li class="qualification">
        ＲＥＳＣＵＥ３　急流救助技術者<br>
        北海道アウトドア検定取得<br>
        上級救命講習受講
      </li>
      <li class="profileBody">
        北海道の自然に見せられて幼少より北海道へ憧れを抱き、大学進学を機に移住。 <br>
        河川環境が特に好きで在学中は釣りや沢登りなどに没頭する。 <br>
        より良い河川を求めて北海道を放浪し、下川町の川と出会い移住を決意。 <br>
        下川町へ移住し、NPO法人しもかわ観光協会職員のガイドとして活動。 <br>
        観光協会在籍中にリバーウォークやスノーシューイングなどの企画を立案、作成し、実施、通年観光の拡充に努めた。 <br>
        観光協会を退職し【河童なガイド屋Saike】として起業
      </li>
    </ul>
  </article>
  <aside class="profileImage">
    <img src="/assets/DSC_0548 (1).jpg" alt="">
  </aside>
</section>
