<article class="newsIndexPage">
  <section>
    <div class="newsTopImage">
      <img class="news_top_image" src="/assets/DSC_0261_1.JPG" alt="">
    </div>
  </section>
  <section class="newsDetaile">
    <div class="newsPage">
      <div class="newsTitle">
        <h3>コロナウイルスの影響について</h3>
      </div>
      <div class="newsImg">
        <img class="news_image" src="/assets/DSC_0261_1.JPG" alt="">
      </div>
      <div class="newsBody">
        <p>
          この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。
          この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。
          この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。
          この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。
          この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。
        </p>
      </div>
      <div class="newsDate">
        2021-12-12
      </div>
    </div>
    <aside class="newsLists">
      <h3 class="topics">お知らせ一覧</h3>
      <ul class="newsList">
        <li>春のイベントについて</li>
        <li>園部やで</li>
        <li>作ったのは遼佑やで</li>
      </ul>
    </aside>

  </section>
</article>
