<article class="activitysPage">
  <section class="activitysPageTop">
    <div class="activitysTopImage">
      <img class="activitys_top_image" src="/assets/DSC_0261_1.JPG" alt="">
    </div>
    <div class="activitysTopDiscribe">
      <h1 class="activitysSaike">再渓<span>saike</span></h1>
      <div class="whySaike">
        <p>
          日本有数の長流河川、天塩川水系の最上流域にある名寄川。 <br>
          この川の一番わかりやすい魅力を言えば「日本で最も長い旅をするヤマメが住む町」でしょう。 <br>
          その距離は250kmを越え、私たちが生まれるずっと前から様々なリスクを乗り越え何千年と奇跡を繰り返しています。 <br>
          その魚たちが紡いできた「歴史」に想いを馳せ、この令和になっても私たちにその奥行きを教えてくれる。 <br>
          ぜひ下川へ来てその町の流域を歩いて、泳いでみてください。 <br>
          言葉にすることができなほどの理由をご案内します。
        </p>
      </div>
    </div>
  </section>
  <section class="activitys">
    <div class="activitysContainer">
      <div class="activitysImg">
        <img src="/assets/DSC_2251.JPG" alt="" class="activity_imgs">
      </div>
      <div class="activitysDiscribe">
        <h2>RiverWalk</h2>
        <div class="textContainer">
          <p class="activitysText">
            証明はいつまでたってもできないだろう <br>
            空気の流れ、人の流れ、時間の流れ <br>
            それらは、それらにとっての「瞬間」が刹那か悠久か <br>
            『人生』なんてまだ語れないけど、胸にこの感覚を刻んでおく <br>
            川って不思議だ <br>
            刹那的過ぎて言葉にできない量の情報が、知らないチャンネルを開いていった <br>
          </p>
        </div>
        <div class="activityTime">
          <h3>所要時間　3時間</h3>
        </div>
        <div class="activityPrice">
          <div class="prices">
            <h3>大人１名　8000円</h3>
            <h3>子供１名　4000円</h3>
          </div>
          <div class="forOne">
            <h4>※大人一人の場合13000円</h4>
          </div>

        </div>


      </div>
    </div>
    <div class="activitysContainer">
      <div class="activitysImg">
        <img src="/assets/Screenshot_20200722-141726 (1).png" alt="" class="activity_imgs">
      </div>
      <div class="activitysDiscribe">
        <p class="activitysText">
          今ってどこにあるんだろう。 <br>
          安全が保障されたアトラクションでドキドキしても <br>
          そんなことはわからない。 <br>
          自分の最前線を楽しみたいなら、命をリアルな場に置くしかない。 <br>
          名寄川は僕らにそれを教えてくれる。 <br>
          時に優しく、時に厳しく、しがらみなど無く褒められて叱られる。 <br>
          その川に、体一つ浮かべて、ゼロの自分を再確認する。 <br>
          自分が浮いている場所よりもはるか下にある川底 <br>
          豊かな水資源を育む森林を眺めながら全身で感じる川下りをお届けします。
        </p>
      </div>
    </div>
  </section>
</article>
